[submodule "package/nikki"]
	path = package/nikki
	url = https://github.com/nikkinikki-org/OpenWrt-nikki.git
[submodule "package/zzu-auth"]
	path = package/zzu-auth
	url = https://github.com/baiyunquan/zzu-auth.git
